/*--------zero style---------*/

*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
/*@font-face {                    
  font-family: "Open-Sans-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Open-Sans-r"), url("../fonts/OpenSans-Regular.woff") format("woff2");

  font-display: swap;
}*/ /*  полносью отключила и оставила нижний */
@font-face {
  font-family: "Open-Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open-Sans-b"), url("../fonts/OpenSans-Bold.woff") format("woff2");

  font-display: swap;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #0f0d0e;
}
button {
  cursor: pointer;
}

/*------------header-----------*/

.header {
 /* min-width: 1600px;*/
  min-height: 450px;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  padding: 10px;
}

/*-----------shadow mask header------------*/

.header::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  width: 179px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  display: flex;

  align-items: center;
}

/*----------menu-link :hover-----------*/
.menu-link:hover {
  text-decoration: underline;
}
.menu-link:first-child {
  margin-left: 45px;
}
.menu-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}
.header-title {
  font-size: 45px;
  text-align: center;
  width: 800px;
  line-height: 1.6;
  margin: auto;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 120px;
}
/*----------trends--------------*/
.trend {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  width: 25%;         /* написала 25% */
  padding-top: 20px;
  padding-bottom: 20px;  
}
.trend:nth-child( 1) {  /*  заменить?*/
  margin-left: 75px;
  }
.trend:nth-child(4 ) {  /*   заменить?*/
  margin-right: 20px;
  }


  .image-one {
    width: 25%;  /* исправила  */
    height: 310px;
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
     }
  
    .image-two {
      width: 25%;   /* исправила  */
      height: 310px;
      background-image: url(../images/trend2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
       }
  
      .image-three {
        width: 25%;    /* исправила  */
        height: 310px;
        background-image: url(../images/trend3.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        }
  
        .image-four {
          width: 25%;     /* исправила  */
          height: 310px;
          background-image: url(../images/trend4.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          position: relative;
          }

          .trend-text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            text-align: flex-end;
            font-weight: bold;
            font-size: 14px;
            color: #eeeeee;
            
            width: 90%;
            border: 3px solid #b59f5b;
            padding: 36px 32px;
            margin: 100px 20px 20px 20px;
          }

          
        
/*------------main-------------*/
.page {
  margin-top: 60px;
}
.page-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.main {
  width: 765px;
}

/*-------------article main--------------*/
.news,
.new {
  display: flex;
}

.news:nth-child(n + 2) {
  margin-top: 60px;
}

.news-img,
.new-img {
  display: block;
}
/*-------------tags and text article--------------*/
.news-tag {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.news-tag-item {
  margin-right: 20px;
}
.news-tag-link {
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}
.news-tag-link:hover {
  text-decoration: underline;
}

.news-name {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
/*----------news-link :hover-----------*/

.news-link:hover {
  color: #b59f5b;
}
.date-main {
  color: #888888;
  font-size: 12px;
  margin-right: 25px;
}
.author {
  color: #000000;
  font-size: 12px;
}
.description {
  margin-top: 40px;
}
.description > p {
  font-size: 15px;
  line-height: 1.5;
}
.description > p :nth-child(n + 2) {
  margin-top: 20px;
}
.news-text {
  margin-left: 30px;
}
.new-name {
  margin-top: 10px;
  margin-bottom: 0;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}

/*-------------aside--------------*/
.aside {
  width: 272px;
}

.aside-item:nth-child(n + 2) {
  margin-top: 60px;
}
.new-top {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 50px 0 20px;
}
/*-------------mask underline aside------*/
.new-top::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0;
}
.new-text {
  font-size: 14px;
  line-height: 0.5;
  margin-left: 20px;
}
.date-aside {
  font-size: 12px;
  color: #000000;
}
.new-text a {
  color: #000000;
}
/*----------new-link :hover-----------*/
.new-link:hover {
  color: #b59f5b;
}

.new {
  margin-top: 20px;
}
/*-------------form search-------------*/

.search {
  
  display: flex;
  width: 100%;
}
.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 223px;
  height: 42px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}
.search-button {
  border: none;
  width: 49px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #b59f5b;
}

.search-button:hover {
  background-color: #434543;
  opacity: 0.6;
}
/*-------------search :focus mask-------------*/

.search-field:focus {
  border: 1px solid #b59f5b;
}
/*-------------form mail-------------*/
.mail-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 22px;
  width: 100%;
  height: 42px;
  font-size: 14px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}
.mail-button {
  margin-top: 18px;
  height: 42px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}
.mail-button:hover {
  background-color: #434543;
  opacity: 0.6;
}
.top-mail {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 20px;
}
.top-mail::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0;
}
/*-------------mail :focus mask-------------*/
.mail-field:focus {
  border: 1px solid #b59f5b;
}
/*-------------tags-------------*/
.list-tags {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}
.list-tags-item {
  margin: 4px 4px 0 0;
}
.list-tags-link {
  display: block;
  text-transform: uppercase;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  padding: 6px 12px;
  font-size: 12px;
  font-family: "Open-Sans-Bold", sans-serif;
}
/*----------list-tags-link :hover------*/
.list-tags-link:hover {
  border: 3px solid #b59f5b;
}
.tags-top {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 20px;
}
.tags-top::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0;
}
/*-------------themes-------------*/
.list-theme-item{
  padding-bottom: 10px;
   border-bottom: 1px solid #eeeeee;
}
.list-theme-item:not(:first-child) {
  margin-top: 16px;
}
.list-theme-link {
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 0;
}
/*-------------mask underline themes------*/
.theme-top {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 20px;
}
.theme-top::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0;
}


/*----------list-theme-link :hover------*/
.list-theme-link:hover {
  color: #b59f5b;
}
.list-theme-count {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-size: 14px;
}

/*-----------goods-------------*/
.goods-item { 
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
  margin: 0 auto;
 
}

/*.wrapper-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}*/


.goods-all {
  display: flex;
  position: relative;  
  justify-content: space-between;
}

.goods-all a img { 
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}
/*-------------goods images-------------*/
.goods-one {
  /*background-image: url("../images/shop-item-desk1.jpg");*/
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30px;
}

.goods-one, .goods-two {
  margin-right: 66px;
}

.goods-two {
 /* background-image: url("../images/shop-item-desk2.jpg");*/
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30px;
}

.goods-three {
  /*background-image: url("../images/shop-item-desk3.jpg");*/
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30px;
}

.goods-one {
  display: flex;
  flex-direction: column;
  
  
}
.goods-two{
  display: flex;
  flex-direction: column;
  
 
}
.goods-three{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    
}

.goods-text{
    
    border: 3px solid #b59f5b;
    padding: 27px 17px;
    text-align: left;
    font-weight: bold;
    width: 340px;
    height: 300px;
    margin-top: -30px;
   
  }
.wrapper-price {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .old-price {
    font-family: Open-Sans-Bold, sans-serif;
    text-decoration: line-through;
    color: #000000;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 15px;
  }

  .actual-price {
    font-family: Open-Sans-Bold, sans-serif;
    color: #000000;
    font-size: 20px;
  }

  .button-buy {
    width: 140px;
    height: 50px;
    font-family: Open-Sans-Bold, sans-serif;
    background-color: #b59f5b;
    border: none;
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 25px
  }
  .button-buy:hover {
    background-color: #434543;
    opacity: 0.6;
  }

/*-------------footer-------------*/
.footer {
  margin-top: 64px;
}
.footer-wrapper {
  /*width: 1200px;*/
  margin-left: 195px;
  margin-right: auto;
  padding: 0 15px;
}
.footer-address {
  margin-bottom: 76px;
  background-color: #f4f7f6;
  padding: 30px 0;
}
.footer-list {
  display: flex;
  justify-content: center;
}
.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 30px;
}
.social-icon_dribbble {
  background-image: url("../svg/001-dribbble.svg");
}
.social-icon_pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-icon_tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
/*-------------copyright ©-------------*/
.copyright {
  color: #999999;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.copyright-reserved {
  margin-top: 74px;
  margin-bottom: 44px;
}

/*--------------------------Popup form-------------------------------*/

.popup {
  display: flex;
  justify-content: center;
  position: relative;
}
.popup::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  z-index: 1;
}
.sign-up {
  width: 390px;
}
.sign-up__header {
  display: flex;
  justify-content: center;
  font-family: Open-Sans-b, sans-serif;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 42px;
  text-transform: uppercase;
  color: #0f0d0e;
}
/*-------------visited popup----------*/

.sign-up__label {
  font-family: Open-Sans-r, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000;
  margin-bottom: 12px;
}
.sign-up__field_visited {
  margin-bottom: 36px;
  width: 330px;
  height: 45px;
  appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 14px 25px;
  padding-left: 20px;
  border: none;
  font-weight: 600;
}
select.sign-up__field_visited {
  background-color: #f4f7f6;
}

.sign-up__field_visited:focus {
  outline-color: #6f5c21;
}
.one-answer {
  font-family: Open-Sans-r, sans-serif;
  font-size: 13px;
}
/*-------------email popup----------*/

.email__title {
  font-family: Open-Sans-r, sans-serif;
  font-size: 13px;
  color: #000;
  margin-bottom: 12px;
}
.sign-up__field_email {
  margin-right: 16px;
}
.radio-text {
  display: inline-block;
}
.radio-text::before {
  margin-right: 8px;
}
.radio:focus ~ .radio-text::before {
  outline: 1px solid #72612b;
  outline-offset: 2px;
}
.radio-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.radio:checked ~ .radio-text::before {
  background-image: url("../svg/form-circle.svg");
}
.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}
/*-------------recipe popup----------*/

.textarea {
  padding-left: 20px;
  padding-top: 20px;
  background-color: #f4f7f6;
}
.recipe {
  width: 330px;
  height: 50px;
  margin-top: 30px;
}
.submit {
  margin-top: 28px;
  
}
/*-------------button submit popup----------*/

.button-submit {
  font-family: Open-Sans-b, sans-serif;
  font-size: 14px;
  line-height: 40px;
  background-color: #b59f5b;
  color: #ffffff;
  width: 330px;
  height: 50px;
  border: none;
  margin-bottom: 28px;
}
.button-submit:hover {
  background-color: #434543;
  opacity: 0.6;
}

/*-------------popup close----------*/

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10%;
  right: 20%;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
}



